/*
 * ${partName}
 * config.h
 */

#ifndef USERSPACE_${partNameUC}_CONFIG_H_
\#define USERSPACE_${partNameUC}_CONFIG_H_

\#define POK_NEEDS_ARINC653_PROCESS
\#define POK_NEEDS_ARINC653_PARTITION
\#define POK_NEEDS_ARINC653_BUFFER
\#define POK_NEEDS_ARINC653_TIME
\#define POK_NEEDS_ARINC653_SEMAPHORE
\#define POK_NEEDS_ARINC653_QUEUEING
\#define POK_NEEDS_ARINC653_EVENT

#ifdef POK_NEEDS_ARINC653_SEMAPHORE

#ifndef POK_CONFIG_ARINC653_NB_SEMAPHORES
 \#define POK_CONFIG_ARINC653_NB_SEMAPHORES  10
#endif

#endif  /* POK_NEEDS_ARINC653_SEMAPHORE */

#endif  /* USERSPACE_${partNameUC}_CONFIG_H_ */